@page "/contributor/{id:int}"
@using Microsoft.Extensions.Logging;
@using MudBlazor
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IMudMessagingService _mudMessagingService
@using Newtonsoft.Json
@using System.Text;


<EditForm Model="@contributorDto" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem xs="12" md="12" lg="12" sm="12" xl="12">
            <MudTextField Label="Nombre" @bind-Value="contributorDto.NickName" />
        </MudItem>

        <MudItem xs="12" md="12" lg="12" sm="12" xl="12">
            <MudDatePicker Label="Fecha nacimiento" @bind-Date="contributorDto.DateOfBirth" />
        </MudItem>
        <MudItem xs="12" md="12" lg="12" sm="12" xl="12">
            <MudTextField Label="Biografía" @bind-Value="contributorDto.Biography" />
        </MudItem>
        <MudItem xs="12" md="12" lg="12" sm="12" xl="12">
            <InputImg Label="Seleccione una fotografía" ImageSelected="ImageSelected" ImageURL="@imageUrl" /> 
            <span></span>
        </MudItem>

    </MudGrid>

    <div class="mud-button-row">
        <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">Guardar</MudButton>
        <MudButton ButtonType="ButtonType.Button" Color="Color.Secondary" OnClick="HandleCancel">Cancelar</MudButton>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private string imageUrl;

    private ContributorDto? contributorDto = new ContributorDto();

    /// <summary>
    /// Alimenta la foto en formato imagenBase64, para poder luego en el EndPoint subirla a Azure Blob Storage
    /// </summary>
    /// <param name="imagenBase64"></param>
    private void ImageSelected(string imagenBase64)
    {
        contributorDto.Photo = imagenBase64;
        imageUrl = null;

    }


    // Este método se llama cuando los parámetros del componente se han establecido
    protected override async Task OnParametersSetAsync()
    {
        await LoadSqlServerSourceClientDto();
    }

    private async Task LoadSqlServerSourceClientDto()
    {
        if (id != 0)
        {
            // Modificación de registros
            try
            {
                var response = await Http.GetAsync($"api/Contributors/{id}");
                if (!response.IsSuccessStatusCode)
                {
                    // Manejar la respuesta no exitosa, como registrar el error o mostrar un mensaje
                    var errorContent = await response.Content.ReadAsStringAsync();
                    throw new InvalidOperationException($"Error en la solicitud: {errorContent}");
                }
                contributorDto = await response.Content.ReadFromJsonAsync<ContributorDto>();
                imageUrl = contributorDto.PhotoPath; // Asegúrate de que esta es la URL correcta

            }
            catch (Exception ex)
            {
                throw ex;
            }
        }
        else
            contributorDto = new ContributorDto { };
    }


    private async Task<IEnumerable<int>> SearchContributor(string searchString)
    {

        // Convertir la búsqueda de string a long si es posible
        if (long.TryParse(searchString, out long id))
        {
            // Realizar la búsqueda basada en el ID
            Http.DefaultRequestHeaders.Clear();
            Http.DefaultRequestHeaders.Add("id", searchString);
            var response = await Http.GetAsync($"api/Countries");
            if (response.IsSuccessStatusCode)
            {
                // Suponiendo que el API devuelve una lista de IDs
                List<int> countriesIds = new List<int>();
                var countries = await response.Content.ReadFromJsonAsync<List<CountryDto>>();
                foreach (var item in countries)
                {
                    countriesIds.Add(item.Id);
                }
                return countriesIds;
            }
        }

        return Enumerable.Empty<int>();
    }

    private async Task HandleValidSubmit()
    {
        // Aquí se implementará la lógica para manejar el envío del formulario
        if (id != 0)
        {
            // Modificación
            var json = JsonConvert.SerializeObject(contributorDto);
            using var content = new StringContent(json, Encoding.UTF8, "application/json");

            // Enviar la solicitud PUT
            var response = await Http.PutAsync($"api/Contributors/{id}", content);
            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo($"/contributors");
            }
            else
            {
                // Manejar errores, por ejemplo, mostrar un mensaje al usuario
                var errorMessage = await response.Content.ReadAsStringAsync();
                _mudMessagingService.ShowAlertError("Insertando", $"Falló la inserción, es posible que el registro ya exista, o el servidor no está disponible. Este es el mensaje del servidor: {errorMessage}", "Aceptar");
            }
        }
        else
        {
            // Adición
            var json = JsonConvert.SerializeObject(contributorDto);
            using var content = new StringContent(json, Encoding.UTF8, "application/json");

            // Enviar la solicitud PUT
            try
            {
                var response = await Http.PostAsync($"api/Contributors", content);
                if (response.IsSuccessStatusCode)
                {
                    NavigationManager.NavigateTo($"/contributors");
                }
                else
                {
                    var errorMessage = await response.Content.ReadAsStringAsync();
                    _mudMessagingService.ShowAlertError("Insertando", $"Falló la inserción, es posible que el registro ya exista, o el servidor no está disponible. Este es el mensaje del servidor: {errorMessage}", "Aceptar");
                }
            }
            catch (Exception ex)
            {
                throw ex;
            }
        }
    }

    private void HandleCancel()
    {
        // Redirige al usuario a la página deseada al hacer clic en cancelar
        NavigationManager.NavigateTo($"/contributors");
    }

    private bool uploadingImage = false;

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;
        if (imageFile != null)
        {
            try
            {
                uploadingImage = true;
                // Convertir el archivo a un Stream o a un formato que tu API pueda manejar
                using var stream = imageFile.OpenReadStream(maxAllowedSize: 1024 * 1024 * 15); // limitar el tamaño del archivo, por ejemplo, a 15MB
                var content = new MultipartFormDataContent();
                content.Add(new StreamContent(stream), "file", imageFile.Name);
                
                // Enviar el archivo al servidor
                var response = await Http.PostAsync("api/Contributors/UploadImage", content);
                if (response.IsSuccessStatusCode)
                {
                    // Leer la nueva URL de la imagen desde la respuesta
                    var photoPath = await response.Content.ReadAsStringAsync();
                    contributorDto.PhotoPath = photoPath; // Actualizar la URL de la imagen
                }
                else
                {
                    // Manejar errores, por ejemplo, mostrar un mensaje al usuario
                    var errorMessage = await response.Content.ReadAsStringAsync();
                    _mudMessagingService.ShowAlertError("Subiendo imagen", $"Falló la subida de la imagen. Este es el mensaje del servidor: {errorMessage}", "Aceptar");
                }
            }
            catch (Exception ex)
            {
                // Manejar la excepción
                Console.WriteLine(ex.Message);
            }
            finally
            {
                uploadingImage = false;
            }
        }
    }
    private bool passwordVisibility = false;
    private InputType passwordInput = InputType.Password;
    private string passwordIcon = Icons.Material.Filled.VisibilityOff;

    // This method toggles the password visibility
    private void TogglePasswordVisibility()
    {
        passwordVisibility = !passwordVisibility;
        passwordInput = passwordVisibility ? InputType.Text : InputType.Password;
        passwordIcon = passwordVisibility ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff;
    }
}